################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.xlsx
/BioMed.Parsers/bin/Debug
/BioMed.Parsers/obj/Debug
/BioMed.Parsers.UnitTests/bin/Debug
/BioMed.Parsers.UnitTests/obj/Debug
